
<!--
 ! Excerpted from "Rails, Angular, Postgres, and Bootstrap",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/dcbang for more book information.
-->
<header class="modal-header">
  <button type="button" class="close" ng-click="nevermind()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h1 class="modal-title">Deactivate Customer</h1>
</header>
<section class="modal-body">
  This will <strong>permanently</strong> deactivate the customer.
  They <strong>will not</strong> be able to log in or use our service.
</section>
<footer class="modal-footer">
  <button class="btn btn-danger" type="button" ng-click="deactivate()">
    <i class="glyphicon glyphicon-ok"></i>
    Deactivate
  </button>
  <button class="btn btn-info" type="button" ng-click="nevermind()">
    <i class="glyphicon glyphicon-remove"></i>
    Nevermind
  </button>
</footer>
