@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
/*
 *= require_tree .
 *= require_self
 */

.margin-top-none {
  margin-top: 0;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
  margin-top: 0;
  margin-bottom: 0;
}
